
    <div class="projects" id="projects">
        <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>
          
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>
          
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group> -->
          

          <div class="maquette">
            <!-- <div class="image">
                <img src="/images/pp.jpeg" alt="maquette" class="photo">
            </div>
            <div class="description">
                <h4>
                    Maquette de la page de Simplon
                </h4>
                
            </div> -->

            <div class="video-container">
                <video controls>
                    <source src="/videos/simplon.mp4" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </div>
            <div class="description">
                <h4>
                    Maquette de la page de Simplon
                </h4>
                
            </div>
          </div>



          <div class="maquette">
            <!-- <div class="image">
                <img src="/images/pp.jpeg" alt="maquette" class="photo">
            </div>
            <div class="description">
                <h4>
                    Maquette de la page de Simplon
                </h4>
                
            </div> -->

            <div class="description">
                <h4>
                    Maquette de la page de Simplon
                </h4>
                
            </div>

            <div class="video-container">
                <video controls>
                    <source src="/videos/elite.mp4" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                </video>
            </div>
           
          </div>
          
    </div>