<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check_small" />
    <title>Document</title>
</head>
<body>
    
<div class="banner" id="banner">
    <div class="image">
        <img src="/images/pp.jpeg" alt="" class="photo">
    </div>
    <div class="description">
        <h4>Développeuse Web/Web Mobile et Mobile</h4>
        <p>Bonjour et bienvenue !
            Je m'appelle Ndeye Yandé Touré, développeur web passionné et spécialiste en développement front-end. Avec plusieurs années d'expérience dans la création d'applications modernes et performantes, je me consacre à transformer des idées en solutions numériques concrètes et esthétiques.</p>
        <div class="soft" id="slkils">
            <h4>Soft Skills</h4>
            <ul class="soft-skills">
              <li>
                <img src="/images/valid.webp" alt="Validé" class="icon">
                <span>Persévérance</span>
              </li>
              <li>
                <img src="/images/valid.webp" alt="Validé" class="icon">
                <span>Communication</span>
              </li>
              <li>
                <img src="/images/valid.webp" alt="Validé" class="icon">
                <span>Travail en équipe</span>
              </li>
              <li>
                <img src="/images/valid.webp" alt="Validé" class="icon">
                <span>Adaptabilité</span>
              </li>
              <li>
                <img src="/images/valid.webp" alt="Validé" class="icon">
                <span>Créativité</span>
              </li>
            </ul>
          </div>    </div>
    </div>
</body>
</html>
